{% extends "base.html" %}
{% block content %}
<h2>Manage Subjects</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label }} 
        {{ form.name(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
</form>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
    {% for subject in subjects %}
    <tr>
        <td>{{ subject.id }}</td>
        <td>{{ subject.name }}</td>
        <td><a href="{{ url_for('delete_subject', subject_id=subject.id) }}" class="btn btn-danger">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
